{% extends 'main/base.html' %}
{% block content %}

  <center>
    <style>
      .container{
        width: fit-content;
      }
      
    </style>
     {%if user.is_staff%}   
    
   <p>
      <a href="{%url 'register_items'%}">Add Items</a>
   </p> 
   {%endif%}
    <div class="search">
      <p class="search_titles">Items</p>
      <form action="{% url 'items'%}" method = 'post'>
        {%csrf_token%}
        <div class="div_search_elements">
            <p class="search_elements">Name:<input type="text" aria-label="Search" name='itemname' class="input_rect"></p>
            <p class="search_elements">Sourcebook:<input type="text" aria-label="Search" name="itemhandbook" class="input_rect"></p>
            <p class="search_elements">Slot:<input type="text" aria-label="Search" name="itemslot" class="input_rect"></p>
            <p class="search_elements">Price:<input type="text" aria-label="Search" name="itemprice" class="input_rect"></p>     
            
         </div> 
         <div class="search_button">
          <button type="submit">Search</button>  
         </div> 
      </form>       
   </div>

  {%if pag %}
     <h1 class="page_header"> Results : </h1><br><br>
     {%include "main/pagination.html"%}
     <div class="table_div">
      <table class="table table-hover table-borderless">
        <thead>
          <tr class="table_header">   
            <th scope="col">Item</th>
            <th scope="col">Slot</th>          
            <th scope="col">Family</th>
            <th scope="col">Rulebook</th>
            <th scope="col">Price</th>       
          </tr>
        </thead>
        <tbody>
          {% for results in pag.object_list %}
          <tr>              
              <td> <a href={{results.link}} target="_blank" class="result_objects">{{results.text}}</a></td>
              <td>{{results.slot}}</td>
              <td>{{results.family}}</td>
              <td><a href="{% url 'handbook' results.handbook%}" target="_blank" class="result_objects">{{results.handbook}}</a></td>                            
              <td>{{results.price|floatformat:0}} gp</td>           
          </tr>
          {%endfor%}            
        </tbody>
      </table>
     </div> 
  {%include "main/pagination.html"%}   
  {%else%}
      <h1 class="No_results">No Results to show</h1>

  </center>
  {%endif%}

{% endblock %}
