{% extends 'main/base.html' %}
{% block content %}

  <center>
 
    {%if user.is_staff%}
   <p>
      <a href="{%url 'register_races'%}">Add Races</a>
   </p> 
   {%endif%}
  <div class="search search_races">
    <p class="search_titles">Races</p>
    <form action="{% url 'races'%}" method = 'post'>
      {%csrf_token%}
      <div class="div_search_elements">
          <p class="search_elements">Race Name :<input type="text" aria-label="Search" name='racesname' class="input_rect"></p>
          <p class="search_elements">Race Handbook :<input type="text" aria-label="Search" name="racesbook" class="input_rect"></p>       
      </div>
      <div class="search_button">
          <button type="submit">Search</button>
       </div>   
    </form>
 </div>
  {%if pag %}
     <h1 class="page_header"> Results : </h1><br><br>
     {%include "main/pagination.html"%}
     <div class="table_div">
      <table class="table table-hover table-borderless">
        <thead>
          <tr class="table_header">   
            <th scope="col">Race</th>
            <th scope="col">Handbook</th>        
          </tr>
        </thead>
        <tbody>
          {% for results in pag.object_list %}
          <tr>           
           
              <td> <a href={{results.link}} target="_blank" class="result_objects">{{results.text}}</a></td>
              <td><a href="{% url 'handbook' results.handbook%}" target="_blank" class="result_objects">{{results.handbook}}</a></td>            
           
          </tr>
          {%endfor%}            
        </tbody>
      </table>
     </div> 
  {%include "main/pagination.html"%}   
  {%else%}
      <h1 class="No_results"> No Results to show</h1>
  </center>
  {%endif%}

{% endblock %}

